::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-thumb{
		
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 5px;
		 

}
.tech_header
{
	text-align: center;
}
.carousel-item-img{
	height: 100vh;
}
::selection{
	background:rgba(0,0,0,.7);
	color:#fff;
	font-size:20px;
}
.invisible{
	display: none !important;
}
body{

}
#hero-wrap, #footer-wrap{
	top: 0;
	left: 0;
	z-index: 1;
	height: 100vh;
	width: 100%;
	background: url(../img/bg.png);
}
.hero, .footer{
	position: relative;
	height: 100vh;
	width: 100%;
	display: block;
	background: url(../img/bg.png);
	z-index: 1;
	align-items: center;
	justify-content: center;
}
.landing-text
{
	max-width: 800px;
	max-height: 300px;
	position: absolute;
	top: 50%;
	left:50%;
	z-index: 2;
	margin-left: -400px;
	margin-top: -200px;
}
.tech{
	height: 100vh;
}
.carousel-caption p{
	font-size: 18px;
}
.landing-text{
	width: 900px;
}
.hero h1, .footer h1{
	color: #fff;
	font-size: 60px;
}
.hero h4, .footer h4{
	margin-top: 30px;	
	color: #fff;
	font-size: 	40px;
}

.form_tech{
	margin-top: 50px;	

}
.form-b{
	margin-top: 20px;	
}
form{
	margin-top: 50px;
	margin-left: 50px;	
}
label{
	font-weight: bold;
}
table{
	margin-top: 60px;	
}
#limits input{
	display: inline-block;
	width: 300px;
}
.form-row
{
	display: block;
}

@media (max-height: 900px) {
	label{
		font-weight: 450 !important;
	}
	.tech_header{
		font-size: 20px;
		font-weight: bold;
	}
	.form_tech{
		margin-top: 20px;
	}
	.form-row{
		width: 400px;
		justify-content: space-between;
		display: flex;
		flex-direction: row;
	}
	#sam_input{
		margin: 10px 0px 10px 0px;
	}
	.form-row-long{
		margin: 10px 0px 10px 0px;
		display: flex;
		width: 900px;
		justify-content: space-around;
	}
	.form-row-long div{
		display: inline-block;
	}
	.form-b{
		margin-top: 5px;
	}
	.table{
		margin-top: 7px;
		border-collapse: collapse;
	}
	.table th{
		padding: 5px;
	}
	.table td{
		padding: 5px;
	}
}